<!DOCTYPE html>
<html lang="es">
<head>
  <title>Buscar Intercambios</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="../styles/main.css"/>
  <!-- bootstrap link ->
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- -->
  <style>
    /*
	body {
	  margin: 30px;
	}
	.my-container {
	  border: 1px solid green;
	}
	.my-row {
	  border: 3px solid red;
	  height: 300px;
	}
	.my-col {
	  border: 3px dotted blue;
	}*/
  </style>
</head>

<body>

<div class="modal fade" id="demoModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Enhorabuena</h2>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Transferencia exitosa</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="container my-container">
  <div class="row my-row justify-content-around ">
    <div class="col my-col">
      <div class="form-group">
        <label for="llave-publica"> Llave pública:</label>
        <input type="text" id="llave-publica" placeholder="Llave p&uacute;blica">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#demoModal">Transferir</button>
      </div>
    </div>
    <div class="col my-col">
      <label for="llave-privada"> Llave privada</label>
      <input type="text" id="llave-privada" placeholder="Llave privada">
    </div>
  </div>
  <div class="row my-row">
    <div class="col">

    </div>
  </div>
</div>


<!-- bootstrap javascript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
